<% @songs.each do |song| %>
  <div><%= song.title %>
        <%= song.release_year %>
        <%= song.artist_name %>
        <%= song.genre %>
      <%= link_to 'Delete', song, method: :delete, data: { confirm: 'confirm' } %></div>

<% end %>
