<h3>form</h3>

<%= form_for(@song) do |f| %>
  <label>Song title:</label><br>
  <%= f.text_field :title %><br>

  <label>Song Released</label><br>
  <%= f.text_area :released %><br>

  <label>Song Released Year</label><br>
  <%= f.text_area :"song[release_year]" %><br>

  <label>Song Artist Name</label><br>
  <%= f.text_area :artist_name %><br>

  <label>Song Genre</label><br>
  <%= f.text_area :genre %><br>

  <%= f.submit %>
<% end %>
